<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">



    <context-param>
        <!--         此路径用来存放用户头像-->
        <param-name>CirclePath</param-name>
        <!--        <param-value>http://192.168.43.151:8080/userImg/</param-value>-->
        <param-value>http://localhost:8080/CircleImg/</param-value>
    </context-param>

</web-app>
