img{
    border-radius: 10px;
}
a img{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
a img:hover{
    -moz-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
    box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
    cursor: pointer;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
#carouse-example-generic{
    width: 102%;
    height: 700px;
    margin-left: -15px;
    background-color: #8c8c8c;
    opacity : 0.9;
}
#carouse-example-generic .carousel-inner>.item> img{
    display: block;
    width: 100%;
    height: 700px;
}
#inf1{
    margin-left: 100px;
    margin-top: 20px;
}
#inf1 img{
    width: 110%;
    height: 300px;
}
.no{
    display: none;
}
#part1 img{
    width: 70%;height: 420px;margin-left: 100px;margin-top: 30px;
}
#part2{
    font-size: 14px;
    font-family: 楷体;
    margin-left: -10px;
    margin-top: 35px;
}

#part3 img{
    width: 70%;margin-top: 30px;
}
#part4{
    font-family: 楷体;
    margin-top: -20px;
    margin-left: -40px;
}
#part5 img{
    width: 90%;height: 260px; margin-left: 40px;margin-top: 0px;
}
#part6{
    font-family: 楷体;
}
#part7 img{
    width: 60%;height: 230px;margin-left: 300px;margin-top: -150px;
}
#part8 img{
    width: 90%;height: 300px;margin-top: 40px;
}
#part9{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: -40px;font-family: 楷体;
}
#part10 img{
    width: 120%;height: 300px;margin-top: 40px;
}
#part11{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: 31px;font-family: 楷体;
}
#part12 img{
    width: 120%;height: 300px;margin-top: 40px;margin-left: 25px;
}
#part13{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: 55px;font-family: 楷体;
}
#part14 img{
    width: 90%;height: 300px;margin-top: 40px;margin-left: -40px;
}
#part15{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: -60px;font-family: 楷体;
}
.myImg{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.myImg:hover{
    opacity: 0.7;
}
#myModal2{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin-top: 63px;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

/* The Close Button */
.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
