body{
    font-family: "Comic Sans MS";
}
img{
    border-radius: 10px;
}
.blur {-webkit-filter: blur(3px);filter: blur(3px);}
.notblur{-webkit-filter: blur(0px);filter: blur(0px);}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.modal-header {
    padding: 2px 16px;
    background-color: beige;
    color: white;
}
.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
a {
    color: #9360ff;
    font-size: 18px;
    padding-right: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover, a:active, a:focus {
    color: #46b8da;
    outline: none;
    text-decoration: none;
}
#carouse-example-generic{
    width: 102%;
    height: 700px;
    margin-left: -15px;
    background-color: #8c8c8c;
    opacity : 0.9;
}
#carouse-example-generic .carousel-inner>.item> img{
    display: block;
    width: 100%;
    height: 700px;
}
#inf1{
    margin-left: 100px;
    margin-top: 20px;
}
#inf1 img{
    width: 110%;
    height: 300px;
}
.no{
    display: none;
}
#part1 img{
    width: 70%;height: 420px;margin-left: 100px;margin-top: 30px;
}
#part2{
    font-size: 14px;
    font-family: 楷体;
    margin-left: -10px;
    margin-top: 35px;
}

#part3 img{
    width: 70%;margin-top: 30px;
}
#part4{
    font-family: 楷体;
    margin-top: -20px;
    margin-left: -40px;
}
#part5 img{
    width: 90%;height: 260px; margin-left: 40px;margin-top: 0px;
}
#part6{
    font-family: 楷体;
}
#part7 img{
    width: 60%;height: 230px;margin-left: 300px;margin-top: -150px;
}
#part8 img{
    width: 90%;height: 300px;margin-top: 40px;
}
#part9{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: -40px;font-family: 楷体;
}
#part10 img{
    width: 120%;height: 300px;margin-top: 40px;
}
#part11{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: 31px;font-family: 楷体;
}
#part12 img{
    width: 120%;height: 300px;margin-top: 40px;margin-left: 25px;
}
#part13{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: 55px;font-family: 楷体;
}
#part14 img{
    width: 90%;height: 300px;margin-top: 40px;margin-left: -40px;
}
#part15{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: -60px;font-family: 楷体;
}

