body{
    font-family: "Comic Sans MS";
}
.box1{
    width: 80%;
    height: 60px;
    padding: 12px;
    margin-left: 148px;
    background: transparent;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-bottom: 1px solid whitesmoke;
}
.box2{
    background: #f9f9f9;
    height: 63px;
    padding: 5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.box2 #logo{
    margin-left: 50px;
}
#user{
    position: relative;
}
#userText{
    display: none;
    position: absolute;
    left: 0;
    width: 200px;
    height: 100px;
    border: 1px solid black;
}
#myModal{
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: beige;
    color: white;
}
.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
a {
    color: #9360ff;
    font-size: 18px;
    padding-right: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover, a:active, a:focus {
    color: #46b8da;
    outline: none;
    text-decoration: none;
}
#carouse-example-generic{
    width: 102%;
    height: 700px;
    margin-left: -15px;
    background-color: #8c8c8c;
    opacity : 0.9;
}
#carouse-example-generic .carousel-inner>.item> img{
    display: block;
    width: 100%;
    height: 700px;
}
#inf1{
    margin-left: 100px;
    margin-top: 20px;
}
#inf1 img{
    width: 110%;
    height: 300px;
}
.no{
    display: none;
}
#part1 img{
    width: 70%;height: 420px;margin-left: 100px;margin-top: 30px;
}
#part2{
    margin-top: 35px;
}

#part3 img{
    width: 90%;margin-top: 30px;
}
#part4{
    margin-top: 30px;
}
#part5 img{
    width: 100%;margin-left: 40px;margin-top: 0px;
}
#part7 img{
    width: 60%;height: 250px;margin-left: 260px;margin-top: -350px;
}
#part8 img{
    width: 90%;height: 300px;margin-top: 40px;
}
#part9{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: -40px;
}
#part10 img{
    width: 120%;height: 300px;margin-top: 40px;
}
#part11{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: 31px;
}
#part12 img{
    width: 120%;height: 300px;margin-top: 40px;margin-left: 25px;
}
#part13{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: 55px;
}
#part14 img{
    width: 90%;height: 300px;margin-top: 40px;margin-left: -40px;
}
#part15{
    height: 300px;border: black 1px solid;margin-top: 40px;margin-left: -60px;
}
